html {
    font-size: 62.5%;
}

:root {
    --color-today: 96, 165, 250;
    --color-scheduled: 239, 68, 68;
    --color-all: 156, 163, 175;
    --color-all-darker: 55, 65, 81;
    --color-flagged: 245, 158, 11;
}

body {
    color: rgb(236, 236, 236);
    font-size: 18px;
    font-family: -apple-system, -system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient( to right, rgb(248, 113, 133), rgb(244, 114, 182) );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 90rem;
    height: 62rem;

    background-color: black;
    border-radius: 15px;

    display: flex;
    overflow: hidden;
}

button {
    cursor: pointer;
}